/* Global styles */
html {
    font-size: 10px;
    line-height: 10px;
    color: #2D3436;
    font-family: 'Inter';
    font-weight: 400;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #6C5CE7;
}

a:hover {
    text-decoration: underline;
}