/* Global styles */
html {
    font-size: 10px;
    line-height: 10px;
    color: #2D3436;
    font-family: 'Inter';
    font-weight: 400;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    min-width: 320px;
    overflow-x: hidden;
    height: auto;
}

h1, h2, h3 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #6C5CE7;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

/*Navbar*/
.navbar {
    width: 100%;
    height: 96px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar .container {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__menu {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}

.navbar__menu li {
    display: inline-block;
}

.navbar__menu li a {
    font-size: 1.8rem;
    font-weight: 400;
    display: inline-block;
    opacity: 0.6;
    text-decoration: none;
    transition: all .07s ease-in-out;
}

.navbar__menu li a:hover {
    color: #2D3436;
    font-weight: 700;
    opacity: 1;
}

.navbar__menu li span {
    font-size: 1.8rem;
    color: #FDCB6E;
    margin: 16px;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.navbar__wrap {
    display: flex;
    flex-flow: row nowrap;
}

.logo {
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 5.6rem;
    margin-left: 2px;
    color: #2D3436;
    transition: all .07s ease-in-out;
}

.logo:hover {
    transform: scale(1.04);
}

.logo__header {
    margin-left: 135px;
}

.sign-in {
    width: 170px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    background-color: #2D3436;
    border-radius: 100px;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: #fff;
}

.sign-in:hover {
    color: #fff;
    transform: scale(1.04);
    box-shadow: 0 2px 4px rgba(45, 52, 54, .5);
}

.sign-in_navbar {
    margin-right: 135px;
}

/*Header*/

.header__background {
    position: relative;
}

.header__background::before {
    content: url("/src/assets/dots.svg");
    position: absolute;
    right: -50px;
    top: -50px;
}

.header__background-img {
    position: absolute;
    right: -50px;
    top: -80px;
    z-index: -1;
}

.main-title {
    text-align: center;
    font-weight: 800;
    font-size: 9.6rem;
    line-height: 10.4rem;
}

.header__main-title {
    margin-top: 80px;
}

.header__main-title span {
    color: #E84393;
    text-shadow: 0px 4px 0px #FFFFFF;
    position: relative;
    margin-bottom: 16px;
}

.header__main-title span::before {
    content: '';
    background: #55EFC4;
    width: 191px;
    height: 51px;
    position: absolute;
    bottom: 0px;
    left: -5px;
    z-index: -1;
    border-radius: 30px;
}

.title {
    font-weight: 900;
    font-size: 6.4rem;
    line-height: 7.7rem;
    text-align: center;
}

.header__title {
    margin-bottom: 64px;
}

.header__content {
    display: grid;
    justify-content: center;
    grid-template-columns: 270px 270px 170px 170px 170px;
    grid-template-rows: 20px 50px 245px 222px 102px;
    grid-gap: 30px;
}

.header__content-text {
    font-size: 1.8rem;
    line-height: 3.2rem;
}

.header__content-item_2 {
    grid-column: 1 / 1;
    grid-row: 3 / span 2;
    width: 270px;
    height: 464px;
    text-align: center;
    background-color: #FDCB6E;
    border-radius: 20px;
    font-family: inherit;
    font-size: 1.8rem;
    line-height: 3.2rem;
    padding-top: 26px;
}

.header__content-item_3 {
    grid-column: 1;
    grid-row: 5;
}

.header__content-item_3 button {
    width: 270px;
    height: 82px;
    background-color: #fff;
    color: #6C5CE7;
    font-family: inherit;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4.8rem;
    border: none;
    border-radius: 50px;
    filter: drop-shadow(0px 8px 8px rgba(38, 50, 56, 0.12)) drop-shadow(0px 16px 24px rgba(38, 50, 56, 0.08));
    transition: all .07s ease-in-out;
}

.header__content-item_3 button:hover {
    transform: scale(1.04);
}

.header__content-item_4 {
    grid-column: 2 / span 2;
    grid-row: 1 / span 3;
    width: 470px;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00B894;
    border-radius: 20px;
    color: #fff;
    font-family: inherit;
    font-weight: 700;
    font-size: 4.8rem;
}

.header__content-item_5 {
    grid-column: 2;
    grid-row: 4;
    width: 270px;
    height: 284px;
    border-radius: 20px;
    background-color: #E84393;
}

.header__content-item_6 {
    grid-column: 4 / span 2;
    grid-row: 2;
}

.header__content-item_7 {
    grid-column: 4;
    grid-row: 3;
    align-self: end;
    width: 170px;
    height: 222px;
    border-radius: 20px;
    background-color: #A29BFE;
}

.header__content-item_8 {
    grid-column: 3 / span 2;
    grid-row: 4 / span 2;
    width: 370px;
    height: 356px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6C5CE7;
    border-radius: 20px;
    color: #fff;
    font-family: inherit;
    font-weight: 700;
    font-size: 4.8rem;
}

.header__content-item_9 {
    grid-column: 5;
    grid-row: 3;
    align-self: end;
}

.header__content-item_10 {
    grid-column: 5;
    grid-row: 4;
    width: 170px;
    height: 222px;
    border-radius: 20px;
    background-color: #FF7675;
}