/* Global styles */
html {
    font-size: 10px;
    line-height: 10px;
    color: #2D3436;
    font-family: 'Inter';
    font-weight: 400;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    min-width: 320px;
    overflow-x: hidden;
    height: auto;
}

h1, h2, h3, p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #6C5CE7;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

/*Header*/
.navbar {
    width: 100%;
    height: 96px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar .container {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__menu {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}

.navbar__menu li {
    display: inline-block;
}

.navbar__menu li a {
    font-size: 1.8rem;
    font-weight: 400;
    display: inline-block;
    opacity: 0.6;
    text-decoration: none;
    transition: all .07s ease-in-out;
}

.navbar__menu li a:hover {
    color: #2D3436;
    font-weight: 700;
    opacity: 1;
}

.navbar__menu li span {
    font-size: 1.8rem;
    color: #FDCB6E;
    margin: 16px;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.navbar__wrap {
    display: flex;
    flex-flow: row nowrap;
}

.logo {
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 5.6rem;
    margin-left: 2px;
    color: #2D3436;
    transition: all .07s ease-in-out;
}

.logo:hover {
    transform: scale(1.04);
}

.logo__main {
    margin-left: 135px;
}

.sign-in {
    width: 170px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    background-color: #2D3436;
    border-radius: 100px;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: #fff;
}

.sign-in:hover {
    color: #fff;
    transform: scale(1.04);
    box-shadow: 0 2px 4px rgba(45, 52, 54, .5);
}

.sign-in_navbar {
    margin-right: 135px;
}

/*Main*/
.main__background {
    position: relative;
}

.main__background::before {
    content: url("/src/assets/dots.svg");
    position: absolute;
    right: -50px;
    top: -50px;
}

.main__background-img {
    position: absolute;
    right: -50px;
    top: -80px;
    z-index: -1;
}

.main-title {
    text-align: center;
    font-weight: 800;
    font-size: 9.6rem;
    line-height: 10.4rem;
}

.main__main-title {
    margin-top: 80px;
}

.main__main-title span {
    color: #E84393;
    text-shadow: 0px 4px 0px #FFFFFF;
    position: relative;
    margin-bottom: 16px;
}

.main__main-title span::before {
    content: '';
    background: #55EFC4;
    width: 191px;
    height: 51px;
    position: absolute;
    bottom: 0px;
    left: -5px;
    z-index: -1;
    border-radius: 30px;
}

.title {
    font-weight: 900;
    font-size: 6.4rem;
    line-height: 7.7rem;
    text-align: center;
}

.main__title {
    margin-bottom: 64px;
}

.main__content {
    display: grid;
    justify-content: center;
    grid-template-columns: 270px 270px 170px 170px 170px;
    grid-template-rows: 20px 50px 245px 222px 102px;
    grid-gap: 30px;
}

.main__content-text {
    font-size: 1.8rem;
    line-height: 3.2rem;
}

.main__content-item_2 {
    grid-column: 1 / 1;
    grid-row: 3 / span 2;
    width: 270px;
    height: 464px;
    text-align: center;
    background-color: #FDCB6E;
    border-radius: 20px;
    font-family: inherit;
    font-size: 1.8rem;
    line-height: 3.2rem;
    padding-top: 26px;
}

.main__content-item_3 {
    grid-column: 1;
    grid-row: 5;
}

.main__content-item_3 button {
    width: 270px;
    height: 82px;
    background-color: #fff;
    color: #6C5CE7;
    font-family: inherit;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4.8rem;
    border: none;
    border-radius: 50px;
    filter: drop-shadow(0px 8px 8px rgba(38, 50, 56, 0.12)) drop-shadow(0px 16px 24px rgba(38, 50, 56, 0.08));
    transition: all .07s ease-in-out;
}

.main__content-item_3 button:hover {
    transform: scale(1.04);
}

.main__content-item_4 {
    grid-column: 2 / span 2;
    grid-row: 1 / span 3;
    width: 470px;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00B894;
    border-radius: 20px;
    color: #fff;
    font-family: inherit;
    font-weight: 700;
    font-size: 4.8rem;
}

.main__content-item_5 {
    grid-column: 2;
    grid-row: 4;
    width: 270px;
    height: 284px;
    border-radius: 20px;
    background-color: #E84393;
}

.main__content-item_6 {
    grid-column: 4 / span 2;
    grid-row: 2;
}

.main__content-item_7 {
    grid-column: 4;
    grid-row: 3;
    align-self: end;
    width: 170px;
    height: 222px;
    border-radius: 20px;
    background-color: #A29BFE;
}

.main__content-item_8 {
    grid-column: 3 / span 2;
    grid-row: 4 / span 2;
    width: 370px;
    height: 356px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6C5CE7;
    border-radius: 20px;
    color: #fff;
    font-family: inherit;
    font-weight: 700;
    font-size: 4.8rem;
}

.main__content-item_9 {
    grid-column: 5;
    grid-row: 3;
    align-self: end;
}

.main__content-item_10 {
    grid-column: 5;
    grid-row: 4;
    width: 170px;
    height: 222px;
    border-radius: 20px;
    background-color: #FF7675;
}

/*Product section*/
.product__title {
    margin-top: 109px;
}

.product__bill {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4.8rem;
    color: #ADADAD;
}

.product__bill-item {
    float: left;
}

.product__bill-item:first-child {
    color: #6C5CE7;
    list-style-type: none;
    position: relative;
}

.product__bill-item:first-child::before {
    content: url("/src/assets/bill-line.svg");
    position: absolute;
    z-index: -1;
    top: 6px;
}

.product__bill-item:last-child {
    margin-left: 45px;
}

.product__content {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.product__content-item {
    width: 370px;
    height: 536px;
    border-radius: 5px;
    margin-bottom: 125px;
    background-color: #fff;
    position: relative;
    transition: all .07s ease-in-out;
    position: relative;
}

.product__content-item:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.product__content-item:hover::before {
    content: url("/src/assets/product-pseudo.svg");
    position: absolute;
    left: -30px;
    bottom: -30px;
    z-index: -1;
}

.product__content-item:hover .product__btn {
    background-color: #6C5CE7;
    color: #fff;
}

.product__content-title {
    color: #6C5CE7;
    font-size: 1.8rem;
    line-height: 3.2rem;
    font-weight: 700;
    margin: 32px 0 16px 32px;
}

.product__price {
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 5.6rem;
    padding-left: 32px;
}

.product__price span {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.product__list {
    list-style: none;
}

.product__list-item {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3.2rem;
    margin-left: 48px;
    margin-bottom: 16px;
    position: relative;
}

.product__list-item::before {
    content: '';
    position: absolute;
    left: -55px;
}

.product__list-item__free::before {
    content: url("/src/assets/product-list-free.svg");
}

.product__list-item__individual::before {
    content: url("/src/assets/product-list-individual.svg");
}

.product__list-item__corporate::before {
    content: url("/src/assets/product-list-corporate.svg");
}

.btn {
    width: 306px;
    height: 64px;
    background-color: #fff;
    color: #6C5CE7;
    font-size: 1.8rem;
    font-weight: 700;
    border: #ADADAD 1px solid;
    border-radius: 20px;
}

.product__btn {
    position: absolute;
    left: 32px;
    bottom: 32px;
    transition: all .07s ease-in-out;
}

.product__btn:hover {
    transform: scale(1.04);
}